nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    color:whitesmoke;
  }
  
  nav a {
    color: whitesmoke;
    transition: var(--transition);
  }
  nav a:hover {
    color: whitesmoke;
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .burger-menu {
    color: whitesmoke;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  /* hero background image */
.bgimage {
  height:100vh;
  background: url('imgs/0C90CCBA-6FA7-4F9D-BB42-0EC2212526CE.jpeg');
  background-size:cover;
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
