@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --secondary-color: #ff723500;
  --primary-shadow: #053f1f;
  --secondary-shadow: #dae4cbea;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */


html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  color:#ecedf3;
  background-color: black;
}





body{
  background-color: black;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    color:whitesmoke;
  }
  
  nav a {
    color: whitesmoke;
    transition: var(--transition);
  }
  nav a:hover {
    color: whitesmoke;
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .burger-menu {
    color: whitesmoke;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  /* hero background image */
.bgimage {
  height:100vh;
  background: url('imgs/0C90CCBA-6FA7-4F9D-BB42-0EC2212526CE.jpeg');
  background-size:cover;
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
  text-align: left;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  margin:auto
  text-align:center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.bio {
  color:#ecedf3;
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  color:#ecedf3;
  margin-bottom: var(--bottom-margin);
}

.bio p {
  color:#ecedf3;
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}